/* buttons and icons and smaller reusable bits here */

@import "forms.css";

.texture {
  background-image: var(--texture);
}

.checkers {
  background-image: var(--checkers);
}

.diagnol {
  background-image: var(--diagnol);
}

.points {
  background-image: var(--points);
}

div.actions {
  display: flex;
  gap: 1rem;
}

a {
  position: relative;
}

/* button */

button,
a {
  background: none;
  cursor: pointer;
}

:is(button, a).button {
  position: relative;

  padding: 0.5em 2em;
  text-align: center;
  border: 0.5px solid var(--gray);
  border-radius: var(--corners);

  font-size: 0.875rem;
}

.button::after {
  content: "";
  position: absolute;
  inset: -1px;
  background: var(--gray);
  z-index: -2;
  display: none;
  border-radius: var(--corners);
}

.button::before {
  content: "";
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: var(--gray);
  transition: 0.2s;
  border-radius: var(--corners);
}

.button:is(:hover, :focus) {
  outline-color: var(--highlight);
}

.button:is(:hover, :focus)::after {
  background: linear-gradient(to right, var(--color), var(--highlight));
}

.button:is(:hover, :focus)::before {
  width: 100%;
  background: linear-gradient(to right, var(--color), var(--highlight));
}

.button:active {
  outline-color: var(--color);
}

:is(button, a).text {
  padding: 0.5em 1em;
  background: none;
  border: none;
  font-size: 1rem;
  color: var(--color);
}

:is(button, a).icon {
  padding: 0.5em;
  background: none;
  /* border: 1px solid var(--gray); */
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  border: 0.5px solid var(--gray);
}

/*  */
picture.logo {
  /* max-width: 100px; */
  /* justify-self: center; */
}

:is(button, a).text,
.hover-underline,
.router-link-exact-active {
  position: relative;
}
:is(button, a).text::after,
.hover-underline::after,
.router-link-exact-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: var(--gradient-color);
  transition: 0.2s;
  border-radius: var(--corners);
}

:is(button, a).text:is(:hover, :focus)::after,
.hover-underline:is(:hover, :focus)::after,
a.router-link-exact-active::after {
  width: 100%;
}

/* tooltip.css */
[data-tooltip] {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
  z-index: 1000;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.button.filled {
  border-radius: 0;
  background: var(--gradient-color);
  font-size: var(--step-1);
  font-weight: var(--weight-semibold);
  padding: 1em 2em;
}

.loud-button {
  position: relative;
  padding: 1em 2em;
  cursor: pointer;
  text-align: center;
  background: var(--paper);
}

.loud-button::after {
  content: "";
  position: absolute;
  inset: -1px;
  background: var(--gradient-color);
  z-index: -1;
  transition: 0.1s;
}

.loud-button:hover::after {
  inset: -3px;
  transition: 0.2s;
}

button:disabled {
  filter: saturate(0);
  cursor: not-allowed;
  pointer-events: none;
}

[data-loading] [data-type="submit"] .button {
  filter: brightness(1.1);
  pointer-events: none;
}
[data-loading] [data-type="submit"] .button::before {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  border-left: white 2px solid;
  border-top: white 2px solid;

  animation: rotate 1s linear infinite reverse;

  transform: unset;

  left: calc(50% - 10px);
  bottom: -30px;

  transition: width 0.1s, height 0.2s, border 0.25s, bottom 0.25s, left 0.1s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) translateX(-50%);
  }
  100% {
    transform: rotate(360deg) translateX(-50%);
  }
}

.gradient-text {
  background: linear-gradient(
    var(--gradient-direction),
    var(--ink),
    var(--color)
  );
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* tooltip */
.v-popper--theme-tooltip .v-popper__inner {
  background: var(--gradient-dark-color) !important;
  font-family: var(--font);
  color: #ffffff;
  padding: 12px;
  border-radius: var(--corners);
  box-shadow: var(--shadow);
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: var(--color) !important;
}

.v-popper--theme-tooltip .v-popper__arrow-inner {
  visibility: hidden;
}
