/* buttons and icons and smaller reusable bits here */

@import "forms.css";

.texture {
  background-image: var(--texture);
}

.checkers {
  background-image: var(--checkers);
}

.diagnol {
  background-image: var(--diagnol);
}

.points {
  background-image: var(--points);
}

div.actions {
  display: flex;
  gap: 1rem;
}

a {
  color: var(--color);
  padding: 0.5rem 1rem;
  position: relative;
}
a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: var(--gradient-color);

  transition: 0.2s;
}

a:is(:hover, :focus, .router-link-active)::after {
  width: 100%;
}

.button {
  padding: 0.5rem 2rem;
  cursor: pointer;
  text-align: center;

  background: none;

  position: relative;

  border: 0.5px solid var(--gray);
}

.button::after {
  content: "";
  position: absolute;
  inset: -1px;
  background: var(--gray);
  z-index: -2;
  display: none;
}

.button::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 1px;
  background-color: var(--gray);
  transition: 0.2s;
}

.button:is(:hover, :focus) {
  outline-color: var(--highlight);
}

.button:is(:hover, :focus)::after {
  background: linear-gradient(to right, var(--color), var(--highlight));
}

.button:is(:hover, :focus)::before {
  width: 100%;
  background: linear-gradient(to right, var(--color), var(--highlight));
}

.button:active {
  outline-color: var(--color);
}

picture.logo {
  border-radius: 50%;
  max-width: 100px;
  justify-self: center;
}
