/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */
/* @import "modules.css"; */

/* S ections and more stuff */

/* then other contextual styles */
body {
  background-color: var(--paper);
  color: var(--ink);
  position: relative;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#__nuxt,
.display-contents {
  display: contents;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s ease;
}
/* #todo nuxt3 transitions */
.page-enter,
.page-leave-to {
  opacity: 0;
}

.hide {
  display: none;
}
body:has(main.home) #blob {
  opacity: 0.5;
  /* #fixme */
}
