body {
  display: grid;
  grid-auto-rows: auto 1fr auto; /* main fills up available space + push the footer down */
  min-height: 100vh; /* be at least a full viewport height */
}

inner-column {
  display: block;
  width: 100%;
  max-width: 1400px; /* could be a variable in settings */
  margin-right: auto;
  margin-left: auto;
  padding: 30px 15px; /* a loose default */
}

inner-column.none {
  width: unset;
  padding: 0;
}

html:has(main.index) inner-column {
  /* max-width: 1750px;  */
}
@media (min-width: 1700px) {
  html:has(main.index) inner-column {
    max-width: 1750px;
  }
}
/*.site-header {
	position: sticky;
	top: 0;
	z-index: 5;
}*/
